@import 'variables';
@import 'mixins';
@import 'menus';
@import 'loading';
@import 'progress-bar';
@import 'quiz';


html{
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: hidden;
    @include mQ ($xl) {
        overflow-x: inherit;
    }
}
body{
    font-size: 1em;
    padding: 0;
    font-family:"Avenir LT W04_45 Book1475512";
}
body.modal-open{
    padding-right: 15px;
}

// customising scrollbar
::-webkit-scrollbar {
    width: 0;
    @include mQ ($xl) {
        width: 15px;
    }
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    background-color: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $teal; 
    border-radius: 5px;
    border: 3px solid $light-grey;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $teal-hover; 
}

// font styles
h1{
    font-family:"Avenir LT W04_65 Medium1475536";
    font-weight: bolder;
    @include mQ ($xl) {
        font-size: 4em;
    }
}
h1.small{
    font-size: 1em;
    color: $dark-grey;
    @include mQ ($xl){
        font-size: 1.4em;
    }
}
h2.small{
    font-size: 1em;
    color: $dark-grey;
    @include mQ ($xl){
        font-size: 1.2em;
    }
}
h2{
    font-family:"Avenir LT W04_65 Medium1475536";
    font-size: 2em;
    color: $dark-grey;
    @include mQ ($xl) {
        font-size: 1.5em;
    }
}
p{
    @include mQ ($lg){
        font-size: 1em;
    }
}

// basic styles
.navy{
    background: $navy;
}
.red{
    background: $red;
}
.teal{
    background: $teal;
}
.yellow{
    background: $yellow;
}
.purple{
    background: $purple;
}

// resuable general styles
.no-vertical-scroll{
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.invis-fade{
    opacity: 1;
    transition: opacity 0.5s ease;
}

.offscreen {
    left: 100vw;
    transition: left 0.8s ease;
}
.white-outline{
    border: 2px solid white;
}
.spacer{
    height: 10vh;
    @include mQ ($lg, landscape) {
        height: 15vh;
    }
}

// buttons
.btn{
    white-space: normal;
    border-radius: 50px;
    @include mQ ($lg){
        font-size: 1em;
    }
}
.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-round{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    @include mQ ($lg) {
        width: 50px;
        height: 50px;
    }
}
.btn-light{
    background: $light-grey;
    color: white;
}
.btn-dark{
    background: $dark-grey!important;
}
.btn-secondary{
    background: $purple;
    &:hover, &:focus, &:active, &:visited{
        background: $purple-hover!important;
        outline-color: $purple!important;
    }
}
.btn-warning{
    background: $yellow;
    color: white;
    &:hover, &:focus, &:active, &:visited{
        background: $yellow-hover!important;
        color: white;
        border-color: $yellow!important;
        outline-color: $yellow!important;
    }
}
.btn-primary{
    background: $teal;
    border-color: $teal!important;
    outline-color: $teal!important;
    &:hover, &:focus, &:active{
        background: $teal-hover;
        border-color: $teal!important;
        outline-color: $teal!important;
    }
}
.btn-danger{
    background: $red;
    &:hover, &:focus, &:active{
        background: $red-hover;
        border-color: $red!important;
        outline-color: $red!important;
    }
}
.btn-lg{
    padding: .7rem 1.2rem;
    font-size: 1rem;
    line-height: 1.7;
}

section{
    @include mQ ($xl){
        min-height: 100vh;
    }
}

// page fixtures
body.logged-in{
    header{
        padding-top: 42px!important;
    }
}
header{
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: $layer2;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.5s ease;
    img{
        width: 40vw;
        @include mQ ($sm, landscape) {
            width: 25vw;
        }
        @include mQ ($md) {
            width: 25vw;
        }
        @include mQ ($xl) {
            width: 12vw;
        }
    }
    #menus{
        button{
            margin-right: 10px;
        }
        #menu{
            @include mQ ($md) {
                margin-right: 20px;
            }
        }
    }
}




// landing & closing section stlying
$deviceWidth: 40vw;
$deviceHeight: $deviceWidth/1.33;
$deviceSpace: 50vw - $deviceWidth;

$deviceWidthMed: 33vw;
$deviceHeightMed: $deviceWidthMed/1.33;
$deviceSpaceMed: 50vw - $deviceWidthMed;

$deviceWidthMax: 20vw;
$deviceHeightMax: $deviceWidthMax/1.33;

#landing{
    margin-top: 15vh;
    @include mQ ($sm, landscape) {
       margin-top: 20vh;
    }
    @include mQ ($md) {
        margin-top: 4vh;
    }
    @include mQ ($md, landscape){
        margin-top: 20vh;
    }
    @include mQ ($lg, landscape){
        margin-top: 0;
    }
    @include mQ ($xl) {
        margin-top: 0;
    }
}

.min-screen{
    width: $deviceWidth;
    height: $deviceHeight;
    border: 3px solid $med-grey;
    display: inline-block;
    background: $light-grey;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px 4px;
    animation-duration: 2s;
    
    @include mQ ($md) {
        width: $deviceWidthMed;
        height: $deviceHeightMed;
    }
    @include mQ ($lg){
        width: $deviceWidthMax;
        height: $deviceHeightMax; 
        border-radius: 20px;
        padding: 10px 20px;  
        border: 5px solid $med-grey;
    }
    @include mQ ($xl) {
        margin: 4px;
    }
}
.min-min-screen{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    a.number{
        display: flex;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease;
        text-decoration: none;
        justify-content: center;
        span{
            background: $purple!important;
        }
        &:hover{
            opacity: 1;
        }

    }
}


#landingText{
    width: 100%;
    text-align: center;
    @include mQ ($md) {
        padding-top: 30px;
    }
    @include mQ ($lg){
        padding: 0;
    }
}
#beginBtn{
    margin-top: 0;
    @include mQ ($xl){
        margin-top: 50px;
    }
}


// shared content
.number{
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $dark-grey;
        color: white;
        font-weight: 700;
        width: 120px;
        height: 120px;
        font-size: 6em;
        transition: all 0.5s ease;
        @include mQ ($xl){
            width: 150px;
            height: 150px;
            font-size: 8em;
        }
    }
}

.number-smaller{
    span{
        transition: all 0.5s ease;
        width: 100px;
        height: 100px;
        font-size: 4em;
    }
}

// chapter general styles
.chapter-text{
    background: $dark-grey;
    height: 100vh!important;
    width: 100vw;
    overflow-x: hidden;
    z-index: $layer1;
    position: fixed;
    top: 0;
    left: -100vw;
    transition: left 0.5s ease;
    color: white;
    scroll-behavior: smooth;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border: 2px solid $light-grey;
    }
    
    @include mQ ($xl) {
        width: 57vw;
        z-index: $front;
        &::-webkit-scrollbar {
            display: block;
            width: 10px;
        }
        
    }
    // inside the chapter styles
    .close-section{
        padding: 0 0 50px 0;
        margin: 0;
        top: 0!important;
    }
    .close-chapter{
        border: 2px white solid;
        margin: 20px;
        float: right;
    }
    .chapter-text-inner{
        padding: 20px 20px 150px 20px;
        @include mQ ($md) {
            padding: 20px 100px 100px 100px;
        }
        @include mQ ($lg) {
            padding: 20px 200px 100px 100px;
        }
    }

    // styling text
    h1{
        font-family:"Avenir LT W04_65 Medium1475536";
        font-size: 2em;
        font-weight: bolder;
        margin-top: 50px;
        margin: 100px 0 50px 0;
    }
    h2{
        font-family:"Avenir LT W04_65 Medium1475536";
        color: white;
        font-size: 1.7em;
        font-weight: bolder;
    }
    h3{
        font-family:"Avenir LT W04_65 Medium1475536";
        color: white;
        font-size: 1.5em;
    }

    // chapter links
    span.gloss-link, span.chapter-shortcut{
        font-weight: bold;
        text-decoration: underline;
        color: $yellow;
        &:hover{
            cursor: pointer;
        }
    }
    a{
        font-weight: bold;
        text-decoration: underline;
        color: $teal-hover;
    }
}

.chapter-stripes{
    background: $dark-grey;
    padding: 0;
    height: 15px;
    .chapter-stripe{
        display: inline-block;
        height: 100%;
        width: 25%;
    }
}


.chapter-intro{
    transition: all 0.5s ease;
    left: 0;
    margin-bottom: 50px;
    @include mQ ($md, landscape) {
        padding-right: 10%;
    }
    @include mQ ($lg) {
        padding-right: 30%;
    }
    @include mQ ($xl) {
        padding-right: 0;
    }
}
.add-scroll{
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 150px;
    &::-webkit-scrollbar {
        display: none;
      }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.chapter-image{
    transition: all 0.5s ease;
    left: 0;
}
.placeholder{
    width: 100%;
    height: auto;
    margin: 20px 0;
    @include mQ ($xl) {
        margin-left: 5%;
        width: 90%;
    }
}



// this is for the chapter info and image to slide to the right - offscreen
.move-more-right{
    transition: all 0.5s ease;
    left: 55vw;
}
.move-right{
    transition: all 0.5s ease;
    left: 0;
}
.move-left{
    transition: all 0.5s ease;
    right: 0!important;
}
.chapter-buttons, .open-chapter-buttons{
    transition: opacity 1s ease;
    opacity: 1;
}
.open-chapter-buttons{
    button{
        margin-top: 10px;
        white-space: normal;
        max-width: 100%;
        text-align: left;
    }
    .navigationBtns{
        padding-top: 40px;
    }
}
.open-chapter-buttons-mobile{
    button{
        margin-top: 10px;
        outline: none;
        border: none;
        white-space: normal;
        max-width: 100%;
        text-align: left;
        padding: 10px 20px;
    }
}
.hidden-buttons{
    transition: opacity 1s ease;
    height: 0;
    opacity: 0;
    overflow-y: hidden;
}




// additional content from the right
.additional-section{
    p{
        font-size: 1em;
    }
    position: fixed;
    top: 0;
    right: -100vw;
    z-index: $front;   
    transition: all 0.7s ease;
    @include mQ ($xl) {
        z-index: $layer1;
    }
    .additional-content{
        background: white;
        padding: 0;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .close-addition{
        margin: 20px;
        float: right;
    }
    .close-section{
        padding-bottom: 100px;
    }
    .text-content{
        padding: 0 10px 100px 10px;
        @include mQ ($lg) {
            padding: 0 50px 100px 50px;
        }
    }
}

// about section
.about-logo{
    @include mQ ($lg) {
        height: 15vh;
    }
}

// contact section
#contacts{
    .card{
        margin: 10px;
    }
}

// glossary
#glossary{
    input, input:focus{
        border-width: 0 0 1px 0;
        box-shadow: 0 1px 0 0 $purple;
        border-radius: 0;
    }
    .card{
        margin-bottom: 10px;
    }
    .card.highlighted{
        background: $yellow;
    }
    #gloss-keyword-row{
        .card{
            background: $teal; 
            color: white;
            border: none;
        }
        .card-body {
            background: $teal-hover;
            &:hover{
                cursor: pointer;
                font-weight: bolder;
            }
        }
    }
}

#lines{
    position: absolute;
    z-index: $back;
    opacity: 1;
    transition: all 1s ease;
}


// switcher bottom
#trp-floater-ls{
    left: 0;
    background: $purple;
    a{
        font-size: 1em;
        color: white!important;
    }
    @include mQ ($xl) {
        left: 90%;
        padding: 5px;
    }
}

// switcher top
.trp-language-switcher{
    margin: 10px;
}
.trp-language-switcher > div{
    border: none;
    background: none;
    a{
        font-size: 1.2em;
        color: $teal;
        @include mQ ($lg) {
            font-size: 1.5em;
        }
        &:hover{
            background: none;
        }
    }
}

// image sharer
.sti-mobile-btn{
    border-radius: 50%;
    background-color: $yellow!important;
}
.sti-btn{
    border-radius: 50%;
    background-color: $teal!important;
    margin-bottom: 5px;
    &:hover{
        background-color: $teal-hover!important;
    }
}

footer{
    color: white;
    background: $navy;
    a{
        color: white;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover{
            color: $yellow;
            text-decoration: none;
        }
    }
    .row{
        padding-bottom: 100px;
    }
}

#endNote{
    background: #e6e6e6;
    .btn{
        margin: 5px 2px; 
        text-align: left;
    }
}